@page "/aiandaimatch"
@using Othello.Shared;

<style>

    .table {
    }

        .table td {
            width: 60px;
            height: 60px;
            background-color: #ddd;
            text-align: center;
            font-size: 3vw;
            cursor: pointer;
        }

        .table th, .table td {
            border: solid 1px black;
            /*実線 1px 黒*/
        }

    .list {
        max-width: 750px;
        margin: 0 auto;
        list-style: none;
        background-color: #fff;
        padding: 0;
    }

    .list-item {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        border-bottom: 2px solid #ddd;
    }

        .list-item > * {
            width: 50px;
            padding: 5px 10px;
            text-align: center;
        }

        .list-item *:last-child {
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
</style>

<h1>AI対AI</h1>

🔴黒
<select class="form-control selectpicker" @bind="ai1">
    <option value="-1">--select--</option>
    @foreach (var item in aiInfoList)
    {
        <option value="@item.FileName">@item.DisplayName </option>
    }
</select>

🔵白
<select class="form-control selectpicker" @bind="ai2">
    <option value="-1">--select--</option>
    @foreach (var item in aiInfoList)
    {
        <option value="@item.FileName">@item.DisplayName </option>
    }
</select>
<br />
<button @onclick="ButtonStartClick">対戦開始</button>
<br />

@if (boardState == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        @for (int x = 0; x < 8; x++)
        {
            <tr>
                @for (int y = 0; y < 8; y++)
                {
                    if (boardState.Board[x, y] == Piece.None)
                    {
                        <td></td>
                    }
                    else if (boardState.Board[x, y] == Piece.Black)
                    {
                        <td>🔴</td>
                    }
                    else if (boardState.Board[x, y] == Piece.White)
                    {
                        <td>🔵</td>
                    }

                }
            </tr>
        }
    </table>
}
